<mat-toolbar class="navbar bg-primary shadow">
  <div class="container d-flex justify-content-between">
    <!-- Home -->
    <a routerLink="/" class="navbar-brand text-white">Tasks</a>
    <div>
      <!-- Authenticated -->
      <button routerLink="/login" class="navbar-brand text-white btn d-flex justify-content-center">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="person"
        ></mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
